[2018-07-13 13:39] YalorMewn opened #2 "Savvy Crypto economics"
# Example of #Blockternship Issue Submission

Hi all, I'm Yalor Mewn. I am brand new to development, big fan off all the projects involved with this hackathon but just starting how to learn code 😬

I work communications for a few blockchain projects, but I want to get more into development so here is my idea to get started:

## Overview
Savvy Crypto economics is a smart contract tool that allows y

[2018-07-13 15:07] YalorMewn commented on #2
Here's how the function could work.
<img width="587" alt="screen shot 2018-07-13 at 5 07 26 pm" src="https://user-images.githubusercontent.com/34845103/42698799-3e12e72e-86bf-11e8-8c97-e4c4ddacf70f.png">

[2018-07-20 00:26] ghiliweld opened #3 "Mimo: Decentralized Online Profiles"
Hi I'm Ghilia Weldesselasie. I've been in the blockchain space since May 2017 and I'm currently working on Mimo, an identity layer built on ENS.

## Overview
Mimo is a standard that enables the creation and use of decentralized online profiles. The standard aims to build a common informational interface by which social networks, games and other Dapps can host user experiences on their services wit

[2018-07-22 12:06] geleeroyale commented on #3
@ghiliweld Awesome project - you for sure get my vote to join the party! To find collaborators, join [Giveth chat on Riot.im](https://giveth.io/join) - I see you did that already! Communication takes place in the channel `#socialcoding:matrix.org`

[2018-07-22 12:11] geleeroyale commented on #2
Great idea! Maybe you get Alon to help you - as you might have seen, the multisend contract could be a nice start:

https://github.com/Alonski/MultiSendEthereum

[2018-07-22 14:29] ghiliweld commented on #3
Thanks @geleeroyale! I'm gathering my own team but if I see a good designer in the chat then I'll contact them.

[2018-07-22 20:20] aj07 opened #4 "Decentralised CFP selection in Conferences"
**Overview**
Hy!! This is Ankit from New Delhi. I am a big fan of decentralized platform and wanted to build something for the community by Blockternship.

I have been coding and learning lot these days about Ethereum and Dapp ecosystem.

**Overview &Philosophy**
There are tons of conferences happening everywhere across the globe.  Most of the time speakers are selected those who are known to orga

[2018-07-23 16:22] YalorMewn commented on #3
Identity is a key need in this space so we've decided to accept your project into the Blockternship!

I'm very excited to watch this come together @ghiliweld and welcome to #S0cial_C0ding 😎

[2018-07-23 16:24] ghiliweld commented on #3
@YalorMewn Great, I'm looking forward to it!

[2018-07-23 16:30] Quazia commented on #3
I think this project is a great fit fir the hackathon! It'd be great to see one or two more people on this team 😉

[2018-07-23 16:32] Quazia commented on #2
Hmm, obfuscation is hard. Otherwise sounds cool! Any plans for a UI?

[2018-07-23 16:32] ghiliweld commented on #3
@Quazia At the moment I'm only looking for a designer, I have dev friends who are down to join me already. Are there any designers in #socialcoding yet?

[2018-07-23 16:33] Quazia commented on #4
Seems like it might be a good use case for general TCR technology?

[2018-07-23 16:48] YalorMewn commented on #4
Hey @aj07 could you explain CFP a little more, first explain how that tech works?

*Then when you say " It would be great if speakers are selected by the attendees from a list given by organizers."

- Do you mean a pre- defined list created by organizers or a list that is generated by attendees of the conference?

- Then is it a vote system? How do you envision this working?

Also how you plan on

[2018-07-23 16:50] YalorMewn commented on #4
Hey @Quazia could you share the meaning of TCR technology ?

[2018-07-23 16:54] aj07 commented on #4
@YalorMewn , yes there will be the list of speakers suggested by admin. From there, cofirmed attenddes will choose whom they want to listen.

Yes, this will be bit similar to vote system where top speakers are selected on the basis of vote they got.
Will you please let me know more about the question "Also how you plan on aggregating the data given from organizers ?"

[2018-07-23 17:14] Quazia commented on #4
“Dev Diary II: A Walkthrough of the adChain Registry TCR in Solidity” @ad_chain https://medium.com/metax-publication/a-walkthrough-of-the-adchain-registry-tcr-in-solidity-72addcde17fb

Token curated registry. Seems like a good tech fit for the problem you're trying to solve here.

[2018-07-23 18:24] deamme commented on #4
I think this type of project is the right size for the Hackathon, so I would approve. Some questions though:
- How do you handle voting for different conferences?
- Do conferences need to generate their own site and deploy their own contract?

[2018-07-23 19:06] wip-abramson opened #5 "The Community Mind - Using Questions to Inspire Innovation"
Hi, my name is Will Abramson. I'm a recent Computer Science graduate and Software Developer and have been exploring the blockchain space for about 8 months. Hoping to integrate blockchain technology into a side project that I have been working on since university.

## Overview

[The Community Mind](https://github.com/wip-abramson/TheCommunityMind) aims to become a place to capture peoples open "be

[2018-07-23 21:19] YalorMewn commented on #3
Hey @ghiliweld here is your forked repo https://github.com/Blockternship/simple-ens I gave you admin rights, so you can add team members and manage the repo as you see fit!

[2018-07-23 21:23] ghiliweld commented on #3
@YalorMewn Do I have to regularly commit to it or can I commit changes to that repo every now and then? I'd prefer to update my repo more frequently and every 2 weeks or so update the new one.

[2018-07-23 21:32] YalorMewn commented on #5
@wip-abramson this looks like a **really** amazing project, I thank you for giving such a well detailed and thoughtful submission. Please give us some time to review the materials you have provided and share this with all the teams before we start asking some questions, stay tuned for more 💯 🗣

[2018-07-23 23:14] YalorMewn commented on #3
I think however you want to manage the repo is fine @ghiliweld I would keep an eye on these dates though as we are planning to fund bounties as we go:
- Aug 21st (First code review, bounty assignment, feedback, open team call)
- Sept 4th (Second code review, bounty funding, feedback, open team call)
- Sept 18th (Third code review bounty funding, feedback, open team call)
- Oct 2nd (Fourth code rev

[2018-07-23 23:20] YalorMewn commented on #2
Thanks for the recommendation @geleeroyale I'll reach out to him and see what I can learn, And @Quazia I' guessing a UI would be required to be considered a complete tool right ?

[2018-07-24 00:33] ghiliweld commented on #3
@YalorMewn Got it, I'll keep an eye on them.

[2018-07-24 10:19] Bijan-Massoumi commented on #5
I'm down to help, but what benefit does a Blockchain add for curation that a server doesn't?

[2018-07-24 11:20] wip-abramson commented on #5
I hope it would mean the more people are interested in topics and ask good questions around them,  the more influence they could assert over that topic. I would like the network of questioners to decide which questions deserve the most attention from users as well as being responsible for preventing bad actors by rejecting there submissions.

It would basically help create a decentralised communit

[2018-07-25 08:32] aj07 commented on #4
@deamme thnaks! for asking question.
For each conferences each user can vote only single time. Multiple votings aren’t allowed. We can link ens also for making things easy.

Conferences admin will request on our dapp to start the process by filling up some details. After that they can request attendess to vote for the speaker on our platform. Voting will be done on our platform.  Conferences admin

[2018-07-25 10:19] deamme commented on #4
@aj07 Thanks for the clarification. This is definitely doable to have everything on a single site.

[2018-07-25 12:18] aj07 commented on #4
Thanks!! @deamme

[2018-07-26 15:14] paradoxDAO opened #7 "Smart contract "Bank accounts""
### Create a dApp where users can create their own smart contract-based bank accounts
There will be several advantages to using such accounts:

## Overview
- You can authorize several addresses (your metamask, your mobile browser/wallet, your mom's, etc) to spend ETH or tokens from the main smart contract bank account

- You can set friends or relatives' addresses who would be able to retrieve the

[2018-07-26 16:51] Quazia commented on #7
I would definitely put a lot of emphasis on user research; the idea of a smart wallet/bank alone is good, but as much as possible focus on what people would actually use with what basically boils down to a one person smart wallet? I definitely think that having a spending and checking account are huge features. Also look to software like mint, and simple. Look at what features are being developed

[2018-07-27 00:08] paskals commented on #7
The main selling point will be: being able to access your funds even if someone stole your wallet, in addition to your family/friends being able to access your funds after a period of inactivity.

You don't lose your entire bank account balance when you lose your ATM card, so this is the analog with smart contracts. ATM cards in this case are different wallets you authorize

[2018-07-27 11:56] YalorMewn commented on #7
This is actually really interesting, something that is much needed for adoption and safety in the crypto space. We don't want anymore [Matthew Mellon](https://cryptopotato.com/500-million-worth-of-ripple-lost-after-owner-dies-suddenly/) situations happening !

Take a peak @kikipluche and see what you think!

[2018-07-27 11:59] YalorMewn commented on #4
Welcome to the "Blockternship" @aj07 Ankit, look forward to seeing this come together!

[2018-07-27 13:04] aj07 commented on #4
Thanks @YalorMewn and other teammates. I will start working on this.

[2018-07-27 15:25] YalorMewn commented on #4
One last thing @aj07 , do you have a repo yet or should we start a fresh one for you here ?

[2018-07-27 15:41] aj07 commented on #4
@YalorMewn please, start the repo. I will submit my code there

[2018-07-27 20:26] YalorMewn commented on #4
You're all set up [here](https://github.com/Blockternship/shiny-telegram), with admin access so change the name whenever you decide it's appropriate or keep shiny- telegram 😂

[2018-07-27 20:56] aj07 commented on #4
Hey @YalorMewn . Thanks for that.  :) I will start working on it.
I changed it DXcon (thought to give decentralized feeling )

[2018-07-28 23:11] kikipluche commented on #7
yep, like the idea. Reminds me of a little experiment we did, with giving an allowance to your kid, where a smart contract gives the kid the possibility to make a monthly withdrawl for a certain amount.

[2018-07-29 14:03] YalorMewn commented on #5
@wip-abramson this is very much in line with the creative spirit of @Blockternship/giveth and the our #Blockchain4Good movement and I look forward to seeing more !  So welcome to the Blockternship, can we fork an existing repo in for you or would you like to open a new one ?

[2018-07-29 14:34] wip-abramson commented on #5
@YalorMewn great! You can fork in my existing repo - https://github.com/wip-abramson/TheCommunityMind. However it currently is linked with the OST POC that I took part in meaning that you need some secret API keys to run it locally and access the OST server.

I haven't yet decided if I should stick with OST or look at other options. It would be great if I could talk this over with somebody as part

[2018-07-29 18:08] KianaH opened #8 "Decentralized Hub for News Fact-Checking"
Hello everyone, my name is Kiana! I'm a computer science student with an interest in blockchain technology and smart contracts. I'm also interested in how we can harness the open source community in educating others.

## Overview
Fake News is running rampant. Everyday we are bombarded with dubious claims and questionable statistics. With the emergence of blockchain technologies, we have the power

[2018-07-29 21:13] deamme commented on #7
@paradoxDAO I've had a similar idea and I really like it. I would be willing to be on the team and help on the front-end side of things. I don't have much time though (doing EIP0 signalling site and Aragon planning tab), so I'll help when I got spare time. Anywhere else where you can be contacted? You can reach out to me on Riot at deam:matrix.org

EDIT:
Btw Gnosis are doing some of the same thing

[2018-07-30 00:38] paskals commented on #7
@deamme You can definitely help if this proposal is approved! I have a little more time, so I will try to make your life easier by defining the requirements as well as possible. It's good to know that there are standards in place - I will definitely look into what others have done before starting work on this ☺

[2018-07-30 05:42] arminvoid commented on #8
(I do not belong to the blockinternship organizers team)

Sounds similar to what [Augur](https://www.augur.net/) is trying to do. Maybe you can buidl this specific use case on top of Augur.
Also, you can gamify the process of incentivising agents to give truthful answers by making them deposit a collateral and penalising them for wrong answers.

You wrote about _verifying_ the users. I am guessing

[2018-07-30 06:16] YalorMewn commented on #5
Hey @quazia @deamme do you have any thoughts on this ?

[2018-07-30 06:25] YalorMewn commented on #8
Hey @atvanguard you don't need to belong to the organizers to comment on these issues, we welcome your thoughts ! In response to your question about centralization for verifying users, there's a solution that happens to be in development in the Social Coding Circle called [BrightID](
https://github.com/brightID) which uses a trusted group of close personal contacts plus a decentralized graph datab

[2018-07-30 18:36] KianaH commented on #8
@atvanguard Thank you for that gamification suggestion! And ideally if BrightID is released during the hackathon, I would use it as a solution for the verification issue. Given that it's still in development at the moment, if I am not able to use that as a solution, my tentative approach is something similar to how you provide proof of identity on keybase or how you'd use certain Ethereum testnet

[2018-07-31 17:00] TurboUrbo opened #9 "Kyodo Dapp — incentive tool for DAO crypto economy"
Hello, I'm Nastya. I'm the Decent.Fund member. Currently, I'm studying crypto economics, BlockFellows course and I'm interested in implementing the concepts I've learned. Here is the application we are working on to run Decent.Fund community.

## Overview

Kyodo Dapp — incentive tool for running crypto economy for DAO based on Impression revenue model. We build Kyodo to run Decent.Fund

[Decent.fu

[2018-07-31 17:20] kikipluche commented on #8
i don't see why it is so important to have a verified profile. The goal is to have validated news. anyone (verified or not) can verify news. when others validate that, the person gets reputation (or bad rep when fake news is validated), for me the most important thing will be the reputation part, not what "real" identity lies behind that. In fact, that is of no importance.

[2018-07-31 17:58] deamme commented on #8
@kikipluche The challenge is how you prevent spammers/bots from upvoting content that they are benefiting from where verified identity is one of the solutions.

[2018-07-31 18:29] KianaH commented on #8
@kikipluche Thanks for the feedback. Verification is important because a verified profile is a deterrent for making multiple accounts and puts more at stake (a person's reputation) when a user answers a question. Online communities are oftentimes plagued by multiple accounts per user being used to sway opinions or give an illusion of consensus. By having verified users, we could enforce a one-pers

[2018-07-31 18:41] kikipluche commented on #8
@KianaH ok, i get it, so on the one side, you want people to bring in their reputation from outside your tool. And on the other side, you want to prevent some sort of "fraud" by someone creating a lot of profiles and verifying him/herselve. The first one is a choice you make "yes i find it important that people can bring in reputation from outside" (which you have no control over, imo), the second

[2018-07-31 22:00] kikipluche commented on #8
@deamme exactly, verified identity is one of the solutions. Looks like the most obvious one, but it is the one i like the least ;-), (just from my super personal point of view, that is).

[2018-08-01 02:49] KianaH commented on #8
@kikipluche, I appreciate the suggestion of a token system. However, a staking economy won't prevent wealthy individuals and high net-worth corporations from influencing & reaffirming "fake news." Verification adds accountability.

[2018-08-02 10:20] YalorMewn commented on #8
Hey @KianaH some great thoughts happening here in the comments ;)

Your project is a perfect fit for the #Blockternship. So welcome, can we start a new repo for you or is there one we can fork in ?

[2018-08-02 10:39] YalorMewn commented on #9
Hi @TurboUrbo this is really cool, I'm glad to see you continuing the work on this from the Colony hackathon, more to come !

[2018-08-02 12:40] KianaH commented on #8
Hi @yalormewn, could you start a new repo? Thank you :)

[2018-08-02 13:03] gichiba commented on #9
Yeah, this is great to see!

[2018-08-02 13:49] YalorMewn commented on #8
Here you https://github.com/Blockternship/Issue_9 you have full admin access, name it as you see fit 👍

[2018-08-02 15:21] deamme commented on #7
@paradoxDAO Your project has been approved. You want to fork off of the accounting repo or you want a whole new repo to work in?

[2018-08-03 00:30] paskals commented on #7
@deamme I didn't notice that it was approved! I will start a new repo and include the accounting one as a submodule. I will start with an empty truffle project.

[2018-08-03 00:41] paskals commented on #7
Project repo started here: [https://github.com/paradoxDAO/smart-bank](https://github.com/paradoxDAO/smart-bank)

[2018-08-03 01:23] gkimbwala opened #10 "Decentralized App for Disaster Relief"
Hi, my name is Gloria Kimbwala. I am a software engineer and I became interested in blockchain a couple years ago but started working with Ethereum about 4 months ago. I have participated in a couple blockchain hackathons in the past and would like to transition into becoming a full-time blockchain software engineer.

**Overview**

I live in Redding, CA and we recently experienced the Carr Fire. 4

[2018-08-03 09:07] deamme commented on #7
@paradoxDAO The project needs to be in this organization

EDIT:
We can also work in your repo and push changes to the repo created in this org now and then

[2018-08-03 10:00] atvanguard opened #11 "Invoicing app for DAOs"
Hi all, I am Arpit. I have had 3 years of working experience developing enterprise APIs (think Web2). As part of the [hacktoberfest'17](https://hacktoberfest.digitalocean.com/) I contributed to the InterPlanetary File System ([IPFS](http://ipfs.io/)) - The distributed web. That got me really interested in the world of decentralization (Web3). I am now reading about all things blockchain since the

[2018-08-03 10:38] paskals commented on #7
@deamme Yeah, it wasn't really clear to me. Is work only supposed to start after the 7th of August?

[2018-08-03 12:31] deamme commented on #7
@paradoxDAO No work can be started now. Submissions will end around 7th August. Btw is there a better way to reach out to you other than Github issues?

[2018-08-03 14:10] paskals commented on #7
@deamme Do you use Keybase? WhatsApp? Messenger? Anything else? I've followed you on Twitter (Paskal S) - get in touch there so we can figure it out via DM.

[2018-08-04 13:18] YalorMewn commented on #10
Hi @gkimbwala 👋🏼 thanks for submitting, you're project is under review, please allow a few days for the team to get back to you!

[2018-08-04 13:27] YalorMewn commented on #11
Hey @atvanguard thx for submitting, are you looking for team mates on this as well ?

[2018-08-04 14:44] arminvoid commented on #11
Yes, I am looking for a designer/UI person. But the work won't be very intensive because I would like to use the aragon UI components.

[2018-08-04 15:17] YalorMewn commented on #11
Okay, make sure to reach out in the [Aragon chat](https://aragon.chat/home) to see if there is anyone in there interested in joining you. Also the [Giveth Social Coding](https://riot.im/app/#/group/+giveth:matrix.org) could be a good place to look for ppl. Just join the channel and say hello 👋🏼

[2018-08-04 22:56] dumpa opened #12 "LUKA daily basic income dapp"
Hi all :)
I'm dumpa, social entreprenuer, thinker, writer. I have thought a lot about how ethereum can be used for social good and have a couple of ideas.

**LUKA**
It is a dapp that will guarantee that everyday you have luka to satisfy your basic needs.

"You cannot start the day with less than 20 (or whatever minLuka) LUKA"
If you spend your luka, the next morning you will have 20. Luka will be

[2018-08-04 23:37] dumpa opened #13 "La vaca bacana - Crowdfunding for social projects that deliver happiness"
Hi all :)
I'm dumpa, social entreprenuer, thinker, writer. I have thought a lot about how ethereum can be used for social good and have a couple of ideas.

**VACA BACANA**
The vacabacana team wants to re-launch an idea with giveth, or a dao....

Vaca Bacana is a couple of years old and was giving away 1 million colombian pesos (around 300 USD) to one project every month that with less than 1 milli

[2018-08-05 19:05] dmitry-christie commented on #8
Hey @KianaH - I'm a frontend web dev. Your project sounds interesting. Are you still looking for teammates?

[2018-08-06 00:15] KianaH commented on #8
Hi @dmitry-christie! Yes I am actually. If possible could you message me on keybase?

[2018-08-06 04:15] ben12143chen opened #14 "Digital Records for Volunteerism"
Hey all, my name is Benjamin Chen. I’m currently wrapping up my computer science degree at University of Texas at Austin. I have roughly 8 years experience in coding, half as hobby, half in industry / professional.

Here are some awesome blockchain projects I closely follow:

[https://innovation.wfp.org/project/building-blocks]() (Ethereum is used as the distributed database for food rations among

[2018-08-06 04:45] paskals commented on #14
Awesome idea! When I talked about blockchain with one of my professors, who is doing a lot for developing social enterprises, he had a similar idea. This will be very useful for volunteers, they could even get some privileges with some organizations depending on the amount of work done.

[2018-08-06 11:36] YalorMewn commented on #3
Hey @ghiliweld I would like to invite you to the first call of the hackathon, would you send me a quick email here YalorTackson@gmail.com also you can add yourself to the event [here](https://calendar.google.com/event?action=TEMPLATE&tmeid=NjlxM2dtdDd2bHA5ODNxbzNsYm5vOTMyZDkgeWFsb3J0YWNrc29uQG0&tmsrc=yalortackson%40gmail.com)

[2018-08-06 11:36] YalorMewn commented on #4
Hey @aj07 I would like to invite you to the first call of the hackathon, would you send me a quick email here YalorTackson@gmail.com also you can add yourself to the event [here](https://calendar.google.com/event?action=TEMPLATE&tmeid=NjlxM2dtdDd2bHA5ODNxbzNsYm5vOTMyZDkgeWFsb3J0YWNrc29uQG0&tmsrc=yalortackson%40gmail.com)

[2018-08-06 11:37] YalorMewn commented on #5
Hey @wip-abramson I would like to invite you to the first call of the hackathon, would you send me a quick email here YalorTackson@gmail.com also you can add yourself to the event [here](https://calendar.google.com/event?action=TEMPLATE&tmeid=NjlxM2dtdDd2bHA5ODNxbzNsYm5vOTMyZDkgeWFsb3J0YWNrc29uQG0&tmsrc=yalortackson%40gmail.com)

[2018-08-06 11:37] YalorMewn commented on #7
Hey @paradoxDAO I would like to invite you to the first call of the hackathon, would you send me a quick email here YalorTackson@gmail.com also you can add yourself to the event [here](https://calendar.google.com/event?action=TEMPLATE&tmeid=NjlxM2dtdDd2bHA5ODNxbzNsYm5vOTMyZDkgeWFsb3J0YWNrc29uQG0&tmsrc=yalortackson%40gmail.com)

[2018-08-06 11:37] YalorMewn commented on #8
Hey @KianaH I would like to invite you to the first call of the hackathon, would you send me a quick email here YalorTackson@gmail.com also you can add yourself to the event [here](https://calendar.google.com/event?action=TEMPLATE&tmeid=NjlxM2dtdDd2bHA5ODNxbzNsYm5vOTMyZDkgeWFsb3J0YWNrc29uQG0&tmsrc=yalortackson%40gmail.com)

[2018-08-06 11:38] YalorMewn commented on #9
Hey @TurboUrbo I would like to invite you to the first call of the hackathon, would you send me a quick email here YalorTackson@gmail.com also you can add yourself to the event [here](https://calendar.google.com/event?action=TEMPLATE&tmeid=NjlxM2dtdDd2bHA5ODNxbzNsYm5vOTMyZDkgeWFsb3J0YWNrc29uQG0&tmsrc=yalortackson%40gmail.com)

[2018-08-06 11:38] YalorMewn commented on #10
Hey @gkimbwala I would like to invite you to the first call of the hackathon, would you send me a quick email here YalorTackson@gmail.com also you can add yourself to the event [here](https://calendar.google.com/event?action=TEMPLATE&tmeid=NjlxM2dtdDd2bHA5ODNxbzNsYm5vOTMyZDkgeWFsb3J0YWNrc29uQG0&tmsrc=yalortackson%40gmail.com)

[2018-08-06 11:38] YalorMewn commented on #11
Hey @atvanguard I would like to invite you to the first call of the hackathon, would you send me a quick email here YalorTackson@gmail.com also you can add yourself to the event [here](https://calendar.google.com/event?action=TEMPLATE&tmeid=NjlxM2dtdDd2bHA5ODNxbzNsYm5vOTMyZDkgeWFsb3J0YWNrc29uQG0&tmsrc=yalortackson%40gmail.com)

[2018-08-06 11:38] YalorMewn commented on #12
Hey @dumpa I would like to invite you to the first call of the hackathon, would you send me a quick email here YalorTackson@gmail.com also you can add yourself to the event [here](https://calendar.google.com/event?action=TEMPLATE&tmeid=NjlxM2dtdDd2bHA5ODNxbzNsYm5vOTMyZDkgeWFsb3J0YWNrc29uQG0&tmsrc=yalortackson%40gmail.com)

[2018-08-06 11:40] YalorMewn commented on #14
Hi @ben12143chen, thanks for submitting this idea. I think @giveth.io might be a good fit for supporting this tool. Give us a few days to review.

Also I would like to invite you to the first call of the hackathon, would you send me a quick email here YalorTackson@gmail.com also you can add yourself to the event [here](https://calendar.google.com/event?action=TEMPLATE&tmeid=NjlxM2dtdDd2bHA5ODNxbzN

[2018-08-06 14:26] Shelpin opened #15 "A money making software to balance our society"
# Hi!!!

My name is [Alex Casas](https://www.linkedin.com/in/alexblockchain/), and I have been working in this baby for two years, since I left the corporate world to create Shelpin, in my mind more than 15 years ago as a personal duty.

I am not a dev, I am an “ex-infiltrated bizman" , and now that a little but strong community is built, and that I have been learning, knowing people , exploring d

[2018-08-06 14:48] YalorMewn commented on #15
@Shelpin super exited to see you join the Blockternship with this project, I think you have a great idea here that aligns very well with **Giveth** and maybe a few of the sponsor teams.

Nice video, also 😂👇🏼
<img width="108" alt="screen shot 2018-08-06 at 4 45 24 pm" src="https://user-images.githubusercontent.com/34845103/43723634-64e7a2e0-9998-11e8-8027-9011834e234e.png">

[2018-08-06 15:14] izqui commented on #11
Hey @atvanguard! Awesome idea, it would be great for this app to trigger an incoming payment in Aragon's Finance app when the invoice is paid. This way the funds will securely be transferred to the DAO's Vault and the payment will be visible in the Finance UI of the DAO.

Reference: https://github.com/aragon/aragon-apps/blob/master/apps/finance/contracts/Finance.sol

[2018-08-06 15:14] Shelpin commented on #15
Thanks a lot @YalorMewn !! Not joining would be irresponsible!!!so excited and happy...  <3

[2018-08-06 15:34] johngrantuk opened #16 "Decentralised Issue Reporting"
Hey. I won a prize in the Colony Hackathon for my Decentralised Issue Reporting DApp and this seems like a cool way to see if it could be taken further with help from the open source community.

**Overview**

There are more details about the original project [here](https://github.com/johngrantuk/colonyHackathon). Feedback from the judges (see below) indicate that there is potential to build on the

[2018-08-06 16:01] YalorMewn commented on #16
Hey @johngrantuk I like the concept, I think expanding the idea to encompass disaster relief from the whole internet or funding public arts from the community could be really interesting !

Give us a few days to review and ask some Q's, in the mean time feel free to join our Kick Off call [here](https://calendar.google.com/event?action=TEMPLATE&tmeid=NjlxM2dtdDd2bHA5ODNxbzNsYm5vOTMyZDkgeWFsb3J0YWN

[2018-08-06 17:10] deamme commented on #9
@TurboUrbo This project has been approved. We love the continuing work on this. The project has to be in this organization though. We can fork your project into this org. Let me know if you have any rejections before we do this.

[2018-08-06 17:13] deamme commented on #10
@gkimbwala This project has been approved. Your new repository can now be started in this Github organization (blockternship). Any specific naming you want on that repository?

[2018-08-06 17:15] deamme commented on #11
@atvanguard Great project! It has now been approved. The project repository needs to be in this organization. We can create this for you. Any specific naming you want for the repo?

[2018-08-06 17:18] arminvoid commented on #11
@izqui Thanks for the suggestion. Will keep in touch to exchange thoughts.
@deamme Thanks for approving. We can call it `smart-invoicing`.

[2018-08-06 17:19] gkimbwala commented on #10
@deamme  we can just call it Relief. That's what I have been calling it for the short term.

[2018-08-06 17:19] deamme commented on #14
@ben12143chen Great idea! We would love to see this happen. The project has now been approved. The repository for the project needs to be in this organization. Any specific naming that you want on it?

[2018-08-06 17:26] deamme commented on #12
@dumpa Seems like you got two proposals (this and the other one). Is there a specific one you'd rather want to work on?

[2018-08-06 17:35] igorline commented on #9
@deamme hey! That's great! Thanks for approving!
Sure, you can fork it.

[2018-08-06 17:37] deamme commented on #11
@atvanguard Here it is https://github.com/Blockternship/smart-invoicing. You got admin access.

[2018-08-06 17:38] deamme commented on #10
@gkimbwala I would suggest making a collaboration with https://github.com/Blockternship/projects/issues/16 if you think your projects aligns

[2018-08-06 17:40] YalorMewn commented on #10
Here you go @gkimbwala [Relief](https://github.com/Blockternship/relief) is live, welcome to the Blockternship :)

[2018-08-06 17:40] deamme commented on #16
@johngrantuk Perhaps your project and https://github.com/Blockternship/projects/issues/10 would make for a good collaboration?

[2018-08-06 17:45] deamme commented on #9
@igorline @TurboUrbo Added you both as admins. Here it is: https://github.com/Blockternship/kyodo. You can just develop in your main repo but push changes as you go to the blockternship repo.

[2018-08-06 18:26] gkimbwala commented on #10
Awesome!!! So excited to be participating in this. Thanks again!!!

On Mon, Aug 6, 2018, 10:40 AM YalorMewn <notifications@github.com> wrote:

[2018-08-06 18:29] dumpa commented on #12
@deamme

tl;dr do I have to choose one? when would the deadline to choose be? I'm trying to pick one if I definitely have too (or feel I better have just one), just need a bit to evaluate pros and cons.

I'm having some trouble answering this question. I will, don't worry.
I love both projects. And my purpose on Blockternship is to learn to code while creating a powerful application. So both apply

[2018-08-06 19:02] reed0023 opened #17 "Technology Collection"
## Greetings to All Blockchain Enthusiasts!

My name is Stephen Reed and I've been dabbling in blockchain for several years now. What began as a mild curiosity in new technology, grew into a passion that led me here today. Myself and a rockstar team from across the world and across disciplines have come together to envision a useful, simple Dapp that solves a very necessary problem - connecting Or

[2018-08-06 20:12] ben12143chen commented on #14
Hi @deamme thank you!

I absolutely see this meshing well with giveth.io. You could use this system to run a campaign where volunteer hours are transparently tracked and applied towards a collective goal!

Let's call it volunteer-records

A more clever name is in the works, I promise! 😆

Thanks.

[2018-08-06 20:40] tucanae47 opened #18 "Kike-canaries: air-quality Dapp for public health"
Hi all. I'm Camilo. I'm a computer scientist from Bogota, core member at [Hackbo](https://github.com/HackBo/)  hackerspace. I have been working with web3 and solidity contracts during the last year.

### Kike-canaries  Blockternship

Create a public health air-quality Dapp where users can report air pollution with sensors and receive compensations from ETH. This system works through donations that

[2018-08-07 05:00] gkimbwala commented on #10
@deamme I can see how our project #16 could align and I'm open to collaborating. I'll reach out after tomorrows call.

[2018-08-07 05:10] tomtom87 commented on #17
Hi everyone, I'm Tom the CTO. I've been working with Ethereum making ERC20 tokens for a few projects over the past 2 years. I'm really looking forward to building this project with Aragon and getting things going, here are the milestones we have so far https://github.com/reed0023/technologycollection/blob/master/mvp_milestones(v1.0).md

I'll post more updates here as we complete our deliverables.

[2018-08-07 08:19] deamme commented on #14
@ben12143chen You got admin permissions on the repo - here it is https://github.com/Blockternship/volunteer-records

[2018-08-07 08:58] geleeroyale commented on #18
Impressive work! Would love to see it developed further. I am pretty sure that you could do some nifty things on the incentivization layer - this part of the entry could probably benefit from some more integrated cryptoeconomic design.

[2018-08-07 14:29] YalorMewn commented on #12
Hi @dumpa we are going to do a final vote to narrow down the candidates, It is my guess that we will select one of the 2 projects that you have submitted to participate in the Blockternship, we will let you know by the 10th which one it is. That is not to discourage you from working on both, just that we only have enough resources to support one project per contributor.

[2018-08-07 14:32] YalorMewn commented on #12
#13

[2018-08-07 16:55] Quazia commented on #5
@wip-abramson I mean, for the most part you'll be able to move to move your state storage over to blockchain (although with the longer strings for storage you may need something like IPFS) so I would say that you shouldn't really need to use a secret if you make it decentralized. If you're using a server for storing state that sort of defeats the purpose of using blockchain to a certain degree.

[2018-08-07 17:42] arquimed opened #19 "SCIPIO: A blockchain-enabled governance tool for Common Networks"
Hi there!
I'm Arquimed. I am new as a developer and I come from the business world. I run my own company (not related to technology) and I would love to gain expertise on blockchain development for many personal projects I have. This is one of them :)

### **Overview**
Community networks (CN) are networks built by citizens and organisations who pool their resources, often classifed as common pool

[2018-08-07 22:37] aasimsayani opened #20 "dPanc - Self Health Management dApp for Diabetes"
Hi, we are Aasim, Jakob, and Kevin we are all Software Developers and we have all recently started developing on the blockchain. We are three developers with experience developing on Colony.js, Solidity, etc...

**Overview**

We wanted to tackle the initial challenge of being able to put medical data on the blockchain, and specifically data regarding type one diabetes. We are looking to give the a

[2018-08-08 04:49] akuznets0v opened #21 "Advancing Autonomous Entities; Exploring Recursive Task-based Organizations"
# First, a bit of background

Hello! My name is Andrew and I’m a recent computer science grad. I’ve been working in the field of crowdsourcing for a while now, and I believe there’s a very powerful revolution for labor organization lying inside of blockchain. I’m really interested in the blockchain space and have been spending this summer travelling and attending various different blockchain confe

[2018-08-08 05:50] gichiba commented on #16
Wooo, awesome to see this continuing onward John!

[2018-08-08 06:03] gichiba commented on #14
Hey ben, I like this idea! I think it'd be a great match with giveth.io, and I am a rep from Colony, so take my suggestion with a grain of salt, but I could also see this working well with Colony's reputation system providing a measure for successfully completed volunteer hours.

[2018-08-08 10:38] YalorMewn commented on #20
Happy to see you here, looks like you just made the deadline !
This idea is especially close to my heart 💉❣️  due to the fact that my collage roommate struggled with diabetes. I look forward to reviewing but please allow a few days for us to respond to your submission.

[2018-08-08 20:26] YalorMewn commented on #20
You're project has been approved !
Would you like us to fork a repo in for you or start a fresh one ?

[2018-08-09 01:12] aasimsayani commented on #20
We would like to start a fresh one if that works for you guys! Thank you! @YalorMewn

[2018-08-09 12:22] YalorMewn commented on #12
You're project has been approved @dumpa  ✨

Would you like to start a fresh repo or fork an existing one into this org ?

[2018-08-09 12:42] Smokyish commented on #7
Hi @paradoxDAO, this is very similar in the thinking we at @aragon have for certain types of DAOs, where a single entity/person can be running a (Aragon) based DAO but hold multiple keys on different devices/systems for access to the funds held in that DAO. So seems very similar to the thinking you have here.

[2018-08-09 13:02] YalorMewn commented on #20
Here you go https://github.com/Blockternship/dPanc you have full admin access, also @gichiba from #Colony is you're mentor you can connect with him on [Riot](file:///Applications/Riot.app/Contents/Resources/webapp/index.html#/room/#blockternship:matrix.org)

[2018-08-09 13:06] YalorMewn commented on #20
Here you go: https://github.com/Blockternship/dPanc you have full access and you're mentor is @gichiba from Colony you can connect with him on Riot here:  https://riot.im/app/#/room/#blockternship:matrix.org

[2018-08-09 13:09] YalorMewn commented on #17
Hi team, we're a little behind on approving projects but I'm excited to review this more, And get you connected with a team if possible !

[2018-08-09 13:15] YalorMewn commented on #13
Hi @dumpa we are unable to provide the resource to support both of your initiatives, so we have approved #12 and will have to pass on this one.

There will be more opportunities in the future though so keep an eye out for our next one !

[2018-08-09 13:18] YalorMewn commented on #16
Hey @johngrantuk this issue has been approved to join the Blockternship, would you like a fresh repo or do you have one we can fork in for you ?

Also @Blockternship/team-colony will be your mentors for the remainder of the hackathon !

[2018-08-09 13:25] YalorMewn commented on #15
Hi @Shelpin you're issue has been approved to join the Blockternship, would you like to fork a repo in or start a fresh one ?

Also @Blockternship/team-swarm-city and @kikipluche will be you're mentors for the remainder of the Hackathon, you can reach them here https://riot.im/app/#/room/#blockternship:matrix.org

[2018-08-09 13:30] YalorMewn commented on #11
Hey team your mentor will be @izqui with @Blockternship/team-aragon and the best place to reach them is https://aragon.chat/ look for @Jorge !

[2018-08-09 13:34] YalorMewn commented on #7
Hey @paradoxDAO your mentor for the #Blockternship is going to be @deamme from @Blockternship/giveth you can reach him here https://riot.im/app/#/room/#blockternship:matrix.org

[2018-08-09 13:42] jtiannelli commented on #17
Hey @YalorMewn thanks for establishing this opportunity.  I'm JT acting CEO of the TechCollect Organization.  The concept is just an expansion of our own pursuit of achieving legal personality without establishing a company, or a foundation.  I personally traveled to Malta when I heard about their new proposed legal personality for digital code.  We were excited to find out that they have a pretty

[2018-08-09 13:51] #2 closed

[2018-08-09 13:55] YalorMewn commented on #9
Hey @igorline and @TurboUrbo your mentors for the remainder of the #Blockternship will be @gichiba and @Blockternship/team-colony you can reach them here https://riot.im/app/#/room/#blockternship:matrix.org

[2018-08-09 14:08] YalorMewn commented on #14
Hey @ben12143chen your mentors for the remainder of the hackathon @gichiba and @Blockternship/team-colony you can reach them here https://riot.im/app/#/room/#blockternship:matrix.org

[2018-08-09 14:25] YalorMewn commented on #17
Hi @tomtom87 @reed0023 @jtiannelli you're project has been approved !

Would you like to fork a repo into this org or should we start a fresh one for you ? Also you're mentor is @vojtechsimetka from @Blockternship/giveth you can reach him here https://riot.im/app/#/room/#blockternship:matr

[2018-08-09 14:30] paskals commented on #7
@Smokyish yes, we're finding out that a lot of the ideas already exist here and there (most of the functionality we want is just a multisig wallet), but it will be up to us putting it all together and making a good UI (there's also lots of potential for features which might be out of scope for now). Where can I find out about the aragon implementation of this specific feature?

@YalorMewn - yep, w

[2018-08-09 14:34] YalorMewn commented on #17
Hi @tomtom87 @reed0023 @jtiannelli you're project has been approved !

Would you like to fork a repo into this org or should we start a fresh one for you ? Also you're mentor is @vojtechsimetka from @Blockternship/giveth you can reach him here https://riot.im/app/#/room/#blockternship:matrix.org

[2018-08-09 14:42] vojtechsimetka commented on #17
Hi @tomtom87 @reed0023 @jtiannelli looking forward to talk to you soon! It seems that you may solve one major piece of puzzle that would help all of us, really nice project!

[2018-08-09 15:06] tomtom87 commented on #17
Great to meet you guys and very exciting news! I will contact you in the group! Cheers!

[2018-08-09 15:43] johngrantuk commented on #16
Woohoo - cool :) You can fork this [repo](https://github.com/johngrantuk/colonyHackathon) please.

@gichiba nice to see you again! Hoping I can make some progress.

[2018-08-09 17:07] sohkai commented on #3
Hey @ghilliweld, this sounds like something quite similar to what [Aragon's working on for identity](https://github.com/aragon/design/issues/5), as well as [BrightID's extension](https://github.com/aragon/nest/pull/63) with web of trust profiles.

Both are meant to be quite generic—initially, our first profiles will likely just save data as TXT records to a person's ENS resolver, conforming to the

[2018-08-09 17:07] sohkai commented on #14
@ben12143chen This looks like something that might work well within a DAO, as well. Specifically, time tracking apps like this are something that'd be awesome to see as an [Aragon app](https://hack.aragon.org/docs/tutorial.html) so all organizations in the future (you can imagine each volunteering society being managed as its own organization) can deploy them and use them :).

[2018-08-09 17:08] sohkai commented on #21
Hey @akuznets0v—great to see you here after DappCon!

I think your goals might be also similar to #16's, in having an autonomous organization create, assign, and verify tasks :). It might be useful to collaborate with @johngrantuk to see if you two might be able to help or combine efforts. In particular, his projects seems like a useful "input" to the question of "what to subcontract".

[2018-08-09 17:10] sohkai commented on #17
@reed0023 this sounds like something we're really interested in at Aragon! I'm pinging @mariapao (who's more versed in these topics) to connect you two; you might also want to check out our nest grant for this: https://github.com/aragon/nest/issues/48

[2018-08-09 17:25] jtiannelli commented on #17
@sohkai  we love Aragon, nest is where we got the idea for this,  as
something our organization could offer to the community...and a member of
the Aragon community frontline recommended this blockternship program for
us!  We do have a nest application referencing number 48 for you to review,
it was only submitted recently, and I don’t think it’s been through the
process yet!
 Obviously if we are a

[2018-08-09 18:22] adamstallard commented on #8
I can't wait for the day when I can just point people to BrightID and say "this is exactly what you need; use this." We're launching our beta in November.

Yes, it does allow for anonymity, which I think will be a strong point for your project.

To me, the really unique, valuable part of your project is being able to limit each person to one account, doing away with all the manipulation that can b

[2018-08-09 19:48] dumpa commented on #12
Nice!
Let's start a new one :)

On Thu, 9 Aug 2018, 7:22 a.m. YalorMewn, <notifications@github.com> wrote:

[2018-08-09 20:01] ghiliweld commented on #3
@sohkai I'll be at the ENS workshop tomorrow, I'd love to talk more about what you guys are doing and my approach to identity with Mimo as well.

[2018-08-09 20:02] ghiliweld commented on #3
@YalorMewn Can I join in another call some other time? Gonna be very busy these next few days.

[2018-08-09 23:50] Shelpin commented on #15
Woooooooow!!!!i had a familiar evening/night a bit disconnected and when I came back I see this!!!!!i am the happiest guy in the galaxy now.!!!Thanks a lot!!!❤️

Unfortunately (or fortunately,who knows...;) )no repo to fork🙈so quite happy and honoured to see first Shelpin’s repo in the Blockternship project!

Again and a million times,big thanks to all the organizers,mentors and participants.

Wit

[2018-08-10 02:14] jtiannelli commented on #17
Direct from our Lawyer in Malta -

The newly designed foundation will allow the concept of an "innovative technology arrangement" having its own "legal personality", right to exist, and to conduct business, enter litigation to defend itself etc. at which point the arrangement will be wrapped in a legal form which gives the arrangement personality. It’s cells will take in functionalities like gover

[2018-08-10 02:26] jtiannelli commented on #17
https://imgur.com/a/6ITmOYv

[2018-08-10 02:33] jtiannelli commented on #17
This is a chart issued by the EU/Maltese authority showing how a simple virtual token can apply for this legal right to exist just so they can make their lives easier, maybe have a bank account. There is also a procedure for other tokens which are set up like assets, investments and corporations to register.
We wanted to build an application to help others makes sense of these laws and navigate th

[2018-08-10 05:32] kikipluche commented on #15
hey Alex, welcome to the blockternship!!! I am more than happy to be your mentor. I'm open to any questions you have. I really like your project. Like your attitide and the fact that you want to change the world. You're always welcome to stay in Antwerp for a while, if you want to, we have enough spare rooms :-)
I will create the Shelpin Repo here, so you can start.
At the moment, I am travelling

[2018-08-10 05:33] kikipluche commented on #15
https://github.com/Blockternship/Shelpin

[2018-08-10 09:39] Shelpin commented on #15
Thanks a lot Kiki!! I am delighted to work with you / Swarm City... I am also having some days off with my kids but will leave on Sunday...about your super kind invite I am so grateful for it and will try to do it,for sure.cant wait to start!! So do not get surprised if I show up in Antwerp just the date you tell me ;) enjoy a lot these days!!i am fully  available if you want/can have an audio tog

[2018-08-10 10:49] ryanchristo commented on #9
Hey @TurboUrbo and @igorline! I'll be helping out @gichiba with support. Looking forward to seeing this project move forward! Let us know if you have any initial questions. We'll be in touch.

[2018-08-10 11:01] ryanchristo commented on #14
Hey @ben12143chen! This is a really cool project idea and it looks like we share a mutual source of inspiration. I recently worked on a hackathon project inspired by Building Blocks as well.

Looking forward to seeing this project take shape. I'll be helping @gichiba with support. Let us know if you have any initial questions! We'll be in touch.

[2018-08-10 11:10] ryanchristo commented on #16
Hey @johngrantuk! I like the new approach. Looking forward to seeing this project move forward. I'll be helping @gichiba with support. Let us know if you have any initial questions. We'll be in touch.

[2018-08-10 11:24] ryanchristo commented on #20
Hey @jakobsandberg, @aasimsayani and @KevinLiLu! Nice to see a couple familiar faces. Great work on colonyExplorer. Looking forward to seeing this project take shape. I'll be helping out @gichiba with support. Let us know if you have any initial questions. We'll be in touch.

[2018-08-11 14:14] YalorMewn commented on #21
Hey @akuznets0v you're submission has been approved, and your mentors are @Smokyish from @Blockternship/team-aragon would you like to start a fresh repo or fork an existing one in ?

[2018-08-11 14:31] YalorMewn commented on #18
Hi @tucanae47 your submission has been approved and your mentor is https://github.com/iurimatias from @Blockternship/team-status would you like to start a new repo or fork an existing one in ?

[2018-08-11 14:46] YalorMewn commented on #3
Hey @ghiliweld your mentor for the Blockternship is @sponnet from @Blockternship/team-swarm-city the best place to reach him is at https://riot.im/app/#/room/#blockternship:matrix.org

[2018-08-11 14:48] tucanae47 commented on #18
Hi @YalorMewn thank you! I'd like to fork this one https://github.com/kike-canaries/dapp-airquality

[2018-08-11 14:57] YalorMewn commented on #5
Hey @wip-abramson your mentor for the Blockternship is @Roots2D from #chainshot, the place to get in touch with him is [Slack](https://chainshotnodes.slack.com/join/shared_invite/enQtMzU3ODc5NTM3MTI3LTFlZTY1YzcwM2QzYWI0ODY2ZDczMmYzOTVlYWQwZjkyZDFlYzUxZWM4NDNlNjk3N2EyNGMwOGQ0ZTVkZjQyNjE)

[2018-08-11 15:01] YalorMewn commented on #19
Hi @arquimed your submission has been approved, you mentor for the Blockternship is https://github.com/quazia the best place to get in touch with him is [Giveth Riot](https://riot.im/app/#/group/+giveth:matrix.org) by sending him a DM @Quazia:matrix.org

Would you like to start a new repo in this ORG or fork an existing one in ?

[2018-08-11 15:38] YalorMewn commented on #18
Here you go https://github.com/Blockternship/dapp-airquality

[2018-08-11 15:40] ghiliweld commented on #3
Got it @YalorMewn, I look forward to working with you @sponnet.

[2018-08-11 16:22] tucanae47 commented on #18
Hey thank you!, your last comment about the mentor was deleted, and i lost it. would you please add it again?

[2018-08-11 19:44] arquimed commented on #19
Hi there!!

Awesome, I already contacted Quazia and hopefully we’ll get to speak soon.

I initially set a repo here but I don’t mind changing it to wherever you feel it should be. I’m no expert in Github so kindly let me know how should I proceed.

Thanks!!

[2018-08-12 02:27] andytudhope commented on #4
This looks good. Happy to comment and review in that repo when there is code submitted.

[2018-08-12 08:26] sponnet commented on #18
Some inspiration & hardware to check out, not blockchain - but also crowdsourced.
- https://luftdaten.info/en/construction-manual/
- https://opensensemap.org/

[2018-08-12 08:30] sponnet commented on #3
Hey @ghiliweld - so good to be here -  let's make this thing rock !

[2018-08-13 01:18] reed0023 commented on #17
@sohkai @YalorMewn @mariapao @vojtechsimetka Hey all! I was away for a wedding this weekend, so I apologize for the late response - what great news! Very excited to help contribute in a meaningful way. I'm in SF on Pacific Standard Time, if anyone has any questions or wants to chat. @YalorMewn, you can fork our repo into yours, that would be great!

[2018-08-13 13:03] jtiannelli commented on #17
Basics:
 The name of the authority who’s process we will be using to apply for this new legal personality is the MDIA, it is a division of the MFSA. (Malta digital innovation authority, and Malta financial services authority)

The process is difficult to navigate, but it’s actually fairly simple if you are compliant, our goal is to help DAOs be compliant, as few people will read 150 pages of legis

[2018-08-13 13:45] TurboUrbo commented on #9
Hello, Ryan!
How can we reach you on Riot? We would like to add to our Kyodo channel.

On Fri, 10 Aug 2018 at 12:49, Ryan Christoffersen <notifications@github.com>
wrote:

--
Reciba un cordial saludo
Anastasia Parygina

┊ ┊ ┊ ┊
┊ ┊ ┊ ★
┊ ┊ ☆
┊ ★
☆

[2018-08-13 16:15] YalorMewn commented on #12
Here you go, https://github.com/Blockternship/Luka you are Admin :)

[2018-08-13 16:17] YalorMewn commented on #12
By the way @dumpa your mentor is @Dan-Nolan from Chain Shot. You can reach him on [Slack](https://join.slack.com/t/chainshotnodes/shared_invite/enQtMzU3ODc5NTM3MTI3LTFlZTY1YzcwM2QzYWI0ODY2ZDczMmYzOTVlYWQwZjkyZDFlYzUxZWM4NDNlNjk3N2EyNGMwOGQ0ZTVkZjQyNjE)

[2018-08-13 16:22] YalorMewn commented on #19
Hey @arquimed you said there's a repo "here" but there is no link :)

We will need to fork you're repo into this org to be eligible for the bounty program, please shoot me a link !

[2018-08-13 16:41] Dan-Nolan commented on #12
Awesome! Excited to help in any way I can. Like Yalor mentioned feel free to reach out on Slack, tag me on Github or my keybase is @beingdannolan

[2018-08-13 16:45] YalorMewn commented on #16
Forked 🍴and you're the Admin https://github.com/Blockternship/colonyHackathon

[2018-08-13 16:52] YalorMewn commented on #10
Hey @gkimbwala I see you we're also involved with the Colony hackathon, so I'm going to assign @gichiba and @ryanchristo who are @Blockternship/team-colony to be your mentors. You can reach them on Slack or in the blockternship room.

[2018-08-13 17:12] YalorMewn commented on #18
Hey @tucanae47 your mentor for the Blockternship is @sponnet from @Blockternship/team-swarm-city, you can reach him on Riot ! Happy #Buidling 🏗

[2018-08-13 17:38] arquimed commented on #19
shit, that's true.

Here's the link.

https://github.com/arquimed/CNmanager

:)

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On August 13, 2018 6:22 PM, YalorMewn <notifications@github.com> wrote:

[2018-08-13 17:40] gichiba commented on #10
Hey Gloria! I am glad to see you participating in this hackathon! We'll be in the blockternship room, for the most part, since Gitter was pretty universally despised during the hackathon ;)

[2018-08-13 17:58] sponnet commented on #18
Yay!!!

On Mon, Aug 13, 2018, 19:12 YalorMewn <notifications@github.com> wrote:

[2018-08-14 00:14] gkimbwala commented on #10
This is great! I am already familiar with Colony team and I can see how the
Colony network be a great use in my app.

On Mon, Aug 13, 2018, 10:40 AM gichiba <notifications@github.com> wrote:

[2018-08-14 10:38] sponnet commented on #18
@tucanae47 : reach out to me in Riot plz so we can have an introduction chat.

[2018-08-14 12:39] sohkai commented on #21
@akuznets0v I'll be helping @Smokyish out as well, on the dev side :). It'd be great to see you make a subcontracting Aragon app, integrating with our existing [Token Manager app](https://github.com/aragon/aragon-apps/blob/master/apps/token-manager/contracts/TokenManager.sol) to manage the vesting (we already have basic vesting included in the Token Manager).

[Aragon.chat/channel/dev-help](https:

[2018-08-14 13:25] tucanae47 commented on #18
Hey @sponnet @YalorMewn thank you! will do.

[2018-08-14 15:33] johngrantuk commented on #10
Hey Gloria. Had a couple of suggestions we should investigate a potential collaboration. Would you like to discuss via Telegram or something? I'm @johngrantuk so just drop me a message if you like. Cheers!

[2018-08-14 17:39] sponnet commented on #3
https://youtu.be/qF2lhJzngto

[2018-08-14 19:07] gkimbwala commented on #10
Hi John,

I would love to talk to you you can reach me via telegram at Gkimbwala or
we can set up a Google Hangout if you'd like. I'll try to reach out to you
via telegram as well.

On Aug 14, 2018 8:33 AM, "John Grant" <notifications@github.com> wrote:

Hey Gloria. Had a couple of suggestions we should investigate a potential
collaboration. Would you like to discuss via Telegram or something? I'm

[2018-08-15 12:21] smitrajput commented on #4
Would be more than happy to join as a teammate.

[2018-08-15 12:53] aj07 commented on #4
cool  @smitrajput Happy to work with you. :)

[2018-08-16 15:52] gkimbwala commented on #10
@YalorMewn  Can you reassign me to Relief as an admin again. I removed myself by accident when trying to add my partner. Its been a long morning and I haven't had my coffee. Sorry about the inconvenience.

[2018-08-17 08:58] deamme commented on #10
@gkimbwala No worries, you're admin again

[2018-08-17 15:26] gkimbwala commented on #10
@deamme I still dont have access to add a contributor on my repo or access to "Settings" on the repo. Not quite sure how to set that back up again.

[2018-08-17 16:25] deamme commented on #10
@gkimbwala You should be able to? Says it waits on your response: https://i.gyazo.com/25ae9bf44925c0210471bdd8a9e08053.png. I can also invite the person/persons?

[2018-08-17 17:33] Smokyish commented on #21
@akuznets0v It looks like you haven't replied to the question that @YalorMewn posed, what to do regarding the repository? Are you working on this somewhere or planning to work on it?

[2018-08-17 17:45] akuznets0v commented on #21
@Smokyish We're still currently in the first stage, so there isn't code to push yet. Currently, we have some markdown files. I'll make a repository in the original org, and fork it in.

[2018-08-17 17:46] gkimbwala commented on #10
Let me doubt check.

On Fri, Aug 17, 2018, 9:25 AM Deam <notifications@github.com> wrote:

[2018-08-17 18:04] gkimbwala commented on #10
@deamme I am in! Thanks again for all your help!

[2018-08-17 20:34] Smokyish commented on #21
@akuznets0v Awesome, thanks for the reply, looking forward to it!

[2018-08-18 10:14] status-open-bounty commented on #7
Current balance: 0.0 ETH
Tokens: DAI: 115.00
Contract address: [0x9ea3e9b1793428b74e12675f9239748cf7b9252b](https://etherscan.io/address/0x9ea3e9b1793428b74e12675f9239748cf7b9252b)
![QR Code](https://openbounty.status.im/qr/Blockternship/projects/bounty/7/d5ac6a6e5bced64f0e789218403189496d929980ae6d3343afa311989d0dd39b/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.st

[2018-08-18 10:14] status-open-bounty commented on #11
Balance: 0 ETH
Tokens: DAI: 630.00
Contract address: [0x522dfbf90f81a0eb01145b90262d9bbc7230350d](https://etherscan.io/address/0x522dfbf90f81a0eb01145b90262d9bbc7230350d)
Network: Mainnet
Paid to: atvanguard
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-08-18 10:14] status-open-bounty commented on #20
Balance: 0.5 ETH
Contract address: [0xd1358d9560ffe120df32369a4d7eca65d6f5df7c](https://etherscan.io/address/0xd1358d9560ffe120df32369a4d7eca65d6f5df7c)
Network: Mainnet
Status: Pending maintainer confirmation
Winner: aasimsayani
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-08-18 10:14] status-open-bounty commented on #8
Current balance: 0.0 ETH
Contract address: [0xe80cc972b878a742ef25db3403f0fdfd3ecd05db](https://etherscan.io/address/0xe80cc972b878a742ef25db3403f0fdfd3ecd05db)
![QR Code](https://openbounty.status.im/qr/Blockternship/projects/bounty/8/a53c67874ef84fa6dc519757f7f70c9dd66a405f633671071973a6cf37a0336c/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://ope

[2018-08-18 10:14] status-open-bounty commented on #12
Current balance: 0.0 ETH
Contract address: [0x6f0ea4fee71edd8b73789b0f199b5400e860cae7](https://etherscan.io/address/0x6f0ea4fee71edd8b73789b0f199b5400e860cae7)
![QR Code](https://openbounty.status.im/qr/Blockternship/projects/bounty/12/c1cf0f933403c839ed579cdeb53908e23fc5f28e0df57757444a844d26d97588/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://op

[2018-08-18 10:14] status-open-bounty commented on #14
Current balance: 0.0 ETH
Contract address: [0x3eafe4f0407b62deb1e0fb70d0d1c4bb0db213d3](https://etherscan.io/address/0x3eafe4f0407b62deb1e0fb70d0d1c4bb0db213d3)
![QR Code](https://openbounty.status.im/qr/Blockternship/projects/bounty/14/154804bba569d893b37be8abc8161309227246fdfa8a9db1e89680b2ae2cccd3/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://op

[2018-08-18 10:14] status-open-bounty commented on #15
Balance: 0 ETH
Tokens: DAI: 515.00
Contract address: [0xc01c56c853e3693f38b57168289ee70c546fa0be](https://etherscan.io/address/0xc01c56c853e3693f38b57168289ee70c546fa0be)
Network: Mainnet
Paid to: Shelpin
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-08-18 10:14] status-open-bounty commented on #16
Current balance: 0.0 ETH
Contract address: [0xf91e08b072d40b1c7dd5b92686d5c4f922930ac9](https://etherscan.io/address/0xf91e08b072d40b1c7dd5b92686d5c4f922930ac9)
![QR Code](https://openbounty.status.im/qr/Blockternship/projects/bounty/16/8e40b91d4af96ac17f247ba817f080b9d1b7e9a25607596906a53a316eb342e8/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://op

[2018-08-18 10:14] status-open-bounty commented on #4
Balance: 0 ETH
Tokens: DAI: 515.00
Contract address: [0xe4ed0aee83a22124711d3d989563945efac54e78](https://etherscan.io/address/0xe4ed0aee83a22124711d3d989563945efac54e78)
Network: Mainnet
Paid to: aj07
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-08-18 10:14] status-open-bounty commented on #5
Current balance: 0.0 ETH
Tokens: DAI: 115.00
Contract address: [0xf0c6aa3abfdbffdfd6c20dd4b209536ff1847b33](https://etherscan.io/address/0xf0c6aa3abfdbffdfd6c20dd4b209536ff1847b33)
![QR Code](https://openbounty.status.im/qr/Blockternship/projects/bounty/5/8b30bddea0e7f9825bb9b247727018fe6c7bd02d0461db4bf47cf2e93a871934/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.st

[2018-08-18 10:14] status-open-bounty commented on #9
Current balance: 0.0 ETH
Contract address: [0x1a5942e60d00eb9bad2ea86777297332ab02a482](https://etherscan.io/address/0x1a5942e60d00eb9bad2ea86777297332ab02a482)
![QR Code](https://openbounty.status.im/qr/Blockternship/projects/bounty/9/392fcc5dbc67232021cd6399f2fac6cdaf6e173125fe8995621c8d31a9c48101/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://ope

[2018-08-18 10:14] status-open-bounty commented on #17
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x8db01521c14d8a909da2b1f1df634b94f2d6fa7ae0cee24f8a1f7c73a734e907](https://etherscan.io/tx/0x8db01521c14d8a909da2b1f1df634b94f2d6fa7ae0cee24f8a1f7c73a734e907)

[2018-08-18 10:14] status-open-bounty commented on #18
Balance: 0 ETH
Tokens: DAI: 230.00
Contract address: [0x640794983fe9880553cd11b85b0411d0e92a29a2](https://etherscan.io/address/0x640794983fe9880553cd11b85b0411d0e92a29a2)
Network: Mainnet
Status: Pending maintainer confirmation
Winner: geleeroyale
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-08-18 10:14] status-open-bounty commented on #19
Current balance: 0.0 ETH
Tokens: DAI: 115.00
Contract address: [0x2f0555bf4dd3540fb47e6d6bc742caa5cd7bde58](https://etherscan.io/address/0x2f0555bf4dd3540fb47e6d6bc742caa5cd7bde58)
![QR Code](https://openbounty.status.im/qr/Blockternship/projects/bounty/19/49858eb8c9aa51c14926fa073b700045718dca3dc4dbc06daf77c98c4b2f7bec/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.s

[2018-08-18 10:14] status-open-bounty commented on #10
Current balance: 0.5 ETH
Contract address: [0xfcf628b41e86276a44f99a439ab25ee0dd48202c](https://etherscan.io/address/0xfcf628b41e86276a44f99a439ab25ee0dd48202c)
![QR Code](https://openbounty.status.im/qr/Blockternship/projects/bounty/10/4cabacdcaf8782a488153953675bc3a8c5a48ab799c782513a26884dd5910018/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://op

[2018-08-18 10:14] status-open-bounty commented on #21
Current balance: 0.0 ETH
Contract address: [0x9fe66e7eb568bb132a3c570d8b0f854b6faefc87](https://etherscan.io/address/0x9fe66e7eb568bb132a3c570d8b0f854b6faefc87)
![QR Code](https://openbounty.status.im/qr/Blockternship/projects/bounty/21/8038279967ac919ab5de9d0579640ee75267d7a0ddda6ff5afa2c1e6a7d627a1/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://op

[2018-08-18 10:15] status-open-bounty commented on #3
Current balance: 0.0 ETH
Tokens: DAI: 115.00
Contract address: [0xc1cb3ed1093e5b76a2f0c71e363c20f7d77a9246](https://etherscan.io/address/0xc1cb3ed1093e5b76a2f0c71e363c20f7d77a9246)
![QR Code](https://openbounty.status.im/qr/Blockternship/projects/bounty/3/20b1617098244478a3e7ba059911be53e14a950acef75d81cf712528cf43ace1/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.st

[2018-08-18 12:03] codehard-achal commented on #4
I'd love to be a contributing member on this project @aj07 . Keep me in the loop and do instruct me about what all needs to be done. Let's get this going!

[2018-08-18 12:21] aj07 commented on #4
@status-open-bounty Done from my side. @smitrajput Please do from your side too

[2018-08-18 12:23] ghiliweld commented on #3
@geleeroyale what's the bounty for?

[2018-08-18 12:43] smitrajput commented on #4
@status-open-bounty All set!

[2018-08-18 20:36] jtiannelli commented on #17
We have decided not to utilize the bounty program associated with this blockternship and continue our development of this dapp at our own pace outside of this program. Thanks so much for the exciting opportunity, we can’t wait to see what the other teams build!

[2018-08-20 02:58] gichiba commented on #14
Hey @ben12143chen -- are you in the blockternship riot room? We're trying to schedule our first call and it'd be helpful to coordinate there for that! We gotta get you set up with some starting commits in order to fill this bounty!

[2018-08-20 09:32] kikipluche commented on #15
hey @Shelpin how has it been going for you? Let's connect so we can get to know each other. Let me know when you're available! grts, Kiki!

[2018-08-23 12:04] aj07 commented on #4
@YalorMewn Can we have 3 member in team?

[2018-08-24 03:34] KevinLiLu commented on #20
@YalorMewn @geleeroyale

Can you guys give us write access to our Blockternship repo (https://github.com/Blockternship/dPanc)? We've been working in a personal repo for now, but we should switch over.

@aasimsayani @KevinLiLu @jakobsandberg

Thanks!

[2018-08-24 04:47] ryanchristo commented on #20
@KevinLiLu Just added you as an admin for the repository.

<img width="729" alt="screen shot 2018-08-24 at 11 46 25 am" src="https://user-images.githubusercontent.com/12519942/44565655-78971b00-a793-11e8-89fb-1ad2c89f1be6.png">

[2018-08-24 04:48] KevinLiLu commented on #20
@ryanchristo Thanks! 😄

[2018-08-24 16:31] YalorMewn commented on #4
As many as you like

On Thu, Aug 23, 2018, 5:04 AM Ankit Raj <notifications@github.com> wrote:

[2018-09-02 21:53] akuznets0v commented on #21
Hi folks,

I think it could get a bit messy if this project starts making several repos. Is there a way to just link our org?

[2018-09-03 09:27] sohkai commented on #21
Pinging @YalorMewn.

[2018-09-06 23:36] YalorMewn commented on #21
Hi @akuznets0v we just ask that you fork  a copy of your original repo here so that we can keep up with you're progress. You just need to push changes to the forked repo before bounties are assigned to get credit. So it's up to you !

[2018-09-07 20:52] YalorMewn commented on #7
Your bounty has been funded, keep up the good work guys https://etherscan.io/tx/0x1c0bd6202e035529dceb269859cac623175543ab2381c51efeb730095faf6535

[2018-09-10 19:48] liamzebedee commented on #20
Yo, I've had T1 Diabetes for 10 years and do blockchain/fullstack dev ❤️This seems like a great initiative.

Have you lot heard about [Tidepool](http://tidepool.org/). They are completely open-source AFAIK, and their uploader tool works for many varieties of insulin pumps and BG meters, with regular improvements. I'm not so sure about your colleague's situation though!

[2018-09-10 22:51] YalorMewn commented on #18
Congrats on your great progress https://etherscan.io/tx/0xf8905abb3c8a122f401cab5f2d3346225473a33b77f1e2c7c5137e8625dcf0ef

[2018-09-10 23:03] YalorMewn commented on #15
Keep up the good work, here's your bounty https://etherscan.io/tx/0x5c55b186e12c604934ebabc902ee96eda7b2d262b781dcda08c15c321a896174

[2018-09-10 23:18] YalorMewn commented on #21
Just so you know there a couple $100 in bounties for progress if you have been/are actively working on this, but we need you to fork a repo into the https://github.com/blockternship so we can see what's been happening and also drop a status update [here](https://riot.im/app/#/room/#blockternship:matrix.org) @akuznets0v :)

[2018-09-10 23:30] YalorMewn commented on #3
Hey @ghiliweld the bounty is just a progress bounty, we want to provide some encouragement for sticking with it. Make a progress report [here](https://riot.im/app/#/room/#blockternship:matrix.org) and ping your mentor and we'll apply the funds to the bounty contract ;)

[2018-09-10 23:33] YalorMewn commented on #20
Hey @liamzebedee you should join https://riot.im/app/#/room/#blockternship:matrix.org if you want to connect with the team working on this :)

[2018-09-11 00:00] YalorMewn commented on #11
Hey @atvanguard there is a bounty for you if you provide an update [here](https://riot.im/app/#/room/#blockternship:matrix.org) and ping @izqui

[2018-09-11 00:35] KevinLiLu commented on #20
@liamzebedee I have not heard of Tidepool before, but I will definitely take a look! Thanks for the suggestion!

[2018-09-11 22:09] dmitry-christie opened #22 "Decentralized Hub for News Fact-Checking #8 (Resubmitted)"
Hello everyone, we're Dmitry and Alvaro. We are both developers, working from Portugal and Spain respectively. This is our first 'hands-on' experience with blockchain and we're very excited.

**Overview**
Fake News is running rampant. Everyday we are bombarded with dubious claims and questionable statistics. With the emergence of blockchain technologies, we have the power to work as a community to

[2018-09-11 22:14] dmitry-christie commented on #22
@YalorMewn Done :)

[2018-09-11 22:31] YalorMewn commented on #22
@geleeroyale would you please add a status bounty here too :)

[2018-09-15 22:43] status-open-bounty commented on #22
Current balance: 0.0 ETH
Contract address: [0x396fb9690d76e85e1b3f66f82f84e7447d61110e](https://etherscan.io/address/0x396fb9690d76e85e1b3f66f82f84e7447d61110e)
![QR Code](https://openbounty.status.im/qr/Blockternship/projects/bounty/22/f377b4a1558797c7d288b18530428214d1dff92318cfe40dc474b391194854c9/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://op

[2018-09-24 15:09] gichiba commented on #9
Funded another 0.5ETH following another code review call (combined 2nd/3rd)

[2018-10-02 20:20] YalorMewn commented on #19
Hey @arquimed are you still working on this ? If so it would be cool to hear what you've been up to in the Blockternship channel on Riot :)https://riot.im/app/#/room/#blockternship:matrix.org

[2018-10-03 16:11] YalorMewn commented on #8
New issue #22

[2018-11-14 21:11] YalorMewn commented on #11
Thanks for participating, don't forget to collect you bounty !

[2018-11-14 21:12] YalorMewn commented on #20
Thanks for participating, don't forget to collect you bounty !

[2018-11-14 21:13] YalorMewn commented on #18
Thanks for participating, don't forget to collect you bounty !

[2018-11-14 21:13] YalorMewn commented on #15
Thanks for participating, don't forget to collect you bounty !

[2018-11-14 21:14] YalorMewn commented on #10
Thanks for participating, don't forget to collect you bounty !

[2018-11-14 21:15] YalorMewn commented on #9
Thanks for participating, don't forget to collect you bounty !

[2018-11-14 21:15] YalorMewn commented on #7
Thanks for participating, don't forget to collect you bounty !

[2018-11-14 21:15] YalorMewn commented on #5
Thanks for participating, don't forget to collect you bounty !

[2018-11-14 21:16] YalorMewn commented on #4
Thanks for participating, don't forget to collect you bounty !

[2018-11-14 21:16] YalorMewn commented on #3
Thanks for participating, don't forget to collect you bounty !

[2018-11-15 08:50] aj07 commented on #4
Thanks @YalorMewn

[2018-11-15 14:40] geleeroyale commented on #20
Please don't close issues until bounty is paid out!!

[2018-11-15 16:05] #4 closed

[2018-11-15 17:55] Shelpin commented on #15
Thanks a lot buddy!!!! I am gonna manage it now

[2018-11-20 21:15] #20 closed

[2018-12-01 14:49] #11 closed

[2019-03-04 11:20] #5 closed

[2020-05-26 22:40] geleeroyale commented on #10
@gkimbwala - Hey - we managed to get these funds back from the bounty contract. Please provide an Ethereum address to receive the funds! (0.5 ETH minus a little gas)

[2020-05-27 21:29] geleeroyale commented on #19
@arquimed Your funds have been rescued from status bounties. Please contact me via Giveth on Riot, Telegram, Discord, or answer here with an ethereum address I can disperse the funds to.

[2020-06-05 12:43] geleeroyale commented on #7
@paskals - Your funds have been rescued from status bounties. Please contact me via Giveth on Riot, Telegram, Discord, or answer here with an ethereum address I can disperse the funds to.

[2020-06-05 12:44] geleeroyale commented on #3
@ghiliweld - Your funds have been rescued from status bounties. Please contact me via Giveth on Riot, Telegram, Discord, or answer here with an ethereum address I can disperse the funds to.

[2020-06-15 09:59] gichiba commented on #10
Nice!

[2020-06-15 15:26] gkimbwala commented on #10
@geleeroyale you can send it to 0xFA9b7D81a8fCeBE6e0cE2938963DB2cCd3cD178f  Thanks for reaching out to me.

[2020-06-22 12:53] geleeroyale commented on #10
Here you go @gkimbwala - glad we could finally sort this out!
[tx on etherscan](https://etherscan.io/tx/0xa32abe0f002405d5d58d411f7b12d766fc9a6b9476cef104b531a696e21b36b3)

[2020-09-12 18:34] #22 closed